/*------------------------------------

            Pen_tocyukasou_SP

------------------------------------*/

/*  page-main
------------------------------------*/
.title_header {
    text-align: center;
    background: $color-o;
    color: $color-a;
    padding: 2%;
    font-size: 2.3rem;
}

/*  local_01
------------------------------------*/
.local_01 {
    .title_h2 {
        padding: 3.5rem 0 2rem;
    }
}

/*  local_02
------------------------------------*/
.local_02 {
    @extend %clearfix;
    .listThumbNews {
        margin-top: 8rem;
    }
    .title_h2 {
        padding: 1.2rem 0 1.5rem;
    }
    .title_z {
        padding: 0;
        position: relative;
        z-index: 99;
    }
    .listThumbNews {
        .items_news {
            position: relative;
            background: url('../images/background_news.png') no-repeat;
            // background-size: cover;
            background-size: 100% 100%;
            padding: 12% 3% 5%;
            text-align: justify;
            &:not(:last-child) {
                margin-bottom: 10rem;
            }
            .title_h3 {
                position: absolute;
                top: -9.5rem;
                left: 0;
                right: 0;
            }
            &:nth-child(1) {
                .text {
                    width: 60%;
                    float: left;
                }
                .imgThumb {
                    width: 36%;
                    float: right;
                }
                .imgFade {
                    width: 25%;
                }
            }
            &:nth-child(2) {
                .text {
                    width: 54%;
                }
                .imgThumb {
                    width: 44%;
                    float: right;
                }
                .thumb_news_sub_2 {
                    padding-top: 22%;
                }
                .imgFade {
                    top: -25%;
                    width: 29%;
                }
            }
            &:nth-child(3) {
                .note {
                    padding-top: 2rem;
                    line-height: 1;
                }
                .imgFade {
                    width: 44%;
                }
            }
            &:nth-child(4) {
                .imgThumb {
                    width: 40%;
                }
                .text {
                    width: 59%;
                    float: right;
                }
                .thumb_news_sub_2 {
                    padding-top: 4%;
                }
                .imgThumb_left {
                    padding-top: 4.5%;
                }
            }
        }
    }
    .imgFade {
        position: absolute;
        right: 0;
        top: -13rem;
    }
    .thumb_news_sub_3 {
        position: relative;
        .imgFade {
            top: 0%;
            right: 1%;
        }
    }
    .thumb_news_sub_2 {
        position: relative;
    }
    .imgThumb_left {
        margin-left: -3.4%;
    }
    .thumb_news_sub {
        background: $color-a;
        margin-top: 4.5rem;
        position: relative;
        padding: 4% 2%;
        border: 1px solid $color-o;
        .imgThumb_sub {
            position: relative;
            margin-top: -6%;
            left: -4%;
            width: 35%;
            float: left;
        }
        .text_sub {
            @extend %font_24;
            width: 65%;
            float: right;
            .title_h4 {
                letter-spacing: 0;
                padding-bottom: 1rem;
                color: $color-1;
                @extend %font_32;
            }
        }
    }
    .imgThumb {
        float: left;
    }
    .text {
        float: left;
        padding-left: 1rem;
        text-align: justify;
    }
}

/*  local_03
------------------------------------*/
.local_03 {
    background: $color-o;
    .title_h2 {
        padding: 3.3rem 0 3.1rem;
    }
    .note2 {
        margin: auto;
        padding: 1% 1% 1% 2.5%;
        letter-spacing: 0;
        margin-bottom: 2%;
        background: $color-a;
        @extend %font_20;
    }
    .note {
        padding: 2rem 0 3rem 0rem;
        @extend %font_20;
    }
    .frameVideo {
        width: 95%;
        margin: auto;
        iframe {
            height: 40rem;
        }
    }
    .thumb_news {
        background: $color-a;
        margin: auto;
        padding: 2% 3% 5%;
        .title_h4 {
            padding-bottom: 3%;
        }
        .imgThumb {
            float: left;
            width: 25%;
        }
        .text {
            width: 72%;
            text-align: justify;
            font-size: 2.8rem;
            line-height: 3.6rem;
            float: right;
            span {
                font-size: 1.8rem;
            }
        }
    }
}

/*  local_04 / info_mail
------------------------------------*/
.info_mail {
    padding-top: 6%;
    .img_content {
        position: relative;
    }
    .phone_btn {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 21%;
        width: 80%;
        margin: auto;
    }
    .mail_btn {
        margin: auto;
        width: 70%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 1.5%;
    }
}
/*  local_05
------------------------------------*/
.local_05 {
    position: relative;
    background: url('../images/background_01.png') no-repeat;
    background-size: 100%;
    .arrow {
        padding-top: 5.9rem;
        padding-bottom: 2.4rem;
    }
    .title_h2 {
        padding-bottom: 0;
    }
    .wrapContent {
        z-index: 9999;
        position: relative;
        background: url("../images/background_02.png") no-repeat center 150px;
        background-size: 100% 100%;
        padding-bottom: 2rem;
    }
    .img_content {
        position: relative;
        margin-top: -20%;
        left: 21%;
        width: 77%;
    }
    .listMail {
        padding-left: 5%;
        padding-right: 5%;
        .text {
            font-size: 2.8rem;
            line-height: 3.6rem;
        }
        .note {
            letter-spacing: 0;
        }
        p {
            &.note {
                padding-top: .5rem;
                font-size: 3.6rem;
                line-height: 3.6rem;
                margin-right: -3%;
            }
        }
        .red {
            font-size: 2.8rem;
            font-weight: bold;
        }
        .items {
            background: $color-a;
            width: 100%;
            border-radius: 3px;
            box-shadow: 4px 4px 10px #bbb;
            padding: 3.2rem 3.4rem 1rem 3.4rem;
            text-align: justify;
            margin-top: 3%;
            h3 {
                padding-bottom: 1.6rem;
            }
        }
    }
    .bottomLocal {
        padding: 6% 5% 4% 5%;
    }
    + .arrow {
        padding: 7rem 0 9rem;
    }
}
/*  local_06
------------------------------------*/
.local_06 {
    position: relative;
    background: url('../images/background_03.jpg');
    padding: 3.2rem 0 2rem;
    .listGold {
        padding: 0 8%;
        display: flex;
        justify-content: center;
        li {
            margin: 0 0.8rem;
        }
    }
    .title_h2 {
        padding-top: 0;
        padding-bottom: 0;
    }
    .listFadeNews {
        padding-top: 3rem;
        padding: 5% 3% 1%;
        text-align: center;
    }
    .title_h3 {
        padding: 5rem 0 2.8rem;
    }
    .note {
        padding-left: 4%;
    }
    .news_thumb {
        .avatar {
            float: left;
            padding-left: 3rem;
            width: 30%;
        }
        .text {
            padding-left: 1%;
            width: 70%;
            float: right;
            p {
                margin-top:12px;
                font-size: 2.4rem;
                line-height: 1.6;
                padding-right: 6px;
            }
        }
        .title_h4 {
            font-size: 2.8rem;
        }
    }
}
.background_local_06 {
    .leaf {
        position: absolute;
        top: 15%;
        &.left {
            left: 0;
            background: url('../images/leaf_left.png') no-repeat;
            background-size: 100%;
            width: 22%;
            height: 10%;
        }
        &.right {
            background: url('../images/leaf_right.png') no-repeat;
            background-size: 100%;
            width: 22%;
            height: 10%;
            right: 0;
        }
    }
}
/*  local_07
------------------------------------*/
.local_07 {
    .title_h2 {
        padding-top: 0;
        padding-bottom: 2rem;
    }
    .title_h3 {
        background: url('../images/icon_Q.png') no-repeat #9F272D;
        background: #9F272D;
        color: $color-a;
        font-size: 2.8rem;
        line-height: 4rem;
        display: flex;
        align-items: center;
        img {
            width: 10%;
            margin-right: 1rem;
        }
    }
    .title_h4 {
        font-size: 2.8rem;
        background: url('../images/icon_A.png') no-repeat 0% 15%;
        background-size: 10%;
        padding-left: 8.5rem;
        padding-bottom: 2.5rem;
    }
    .content_07 {
        padding: 0 2%;
    }
    .row_clear {
        li {
            float: left;
        }
        .text {
            width: 60%;
        }
        .thumb_img  {
            width: 38%;
        }
    }
    p {
        text-align: justify;
        padding: 1%;
    }
    .row-items {
        margin-bottom: 2rem;
        .content {
            font-size: 3.1rem;
            line-height: 4.8rem;
            padding: 2.2rem 3%;
            border: 2px solid #9F272D;
        }
    }
}

.info_mail {
    .title_h2 {
        padding: 5rem 0 4.2rem;
    }
    + .arrow {
        padding-bottom: 5rem;
    }
}


.fadeFocus1 {
    // z-index: 0;
    position: relative;
}
.fadeFocus2 {
    text-align: center;
    position: relative;
    z-index: 9;
    margin-top: -3rem;
}
// .fadeFocus2 {
//     background: url('../images/fading_focus_02.png');
//     margin: auto;
//     margin-top: -3rem;
//     z-index: 9;
//     position: relative;
//     width: 62.8rem;
//     height: 28.6rem;
// }

