/*======================================
        Footer
======================================*/
.footer {
    @extend %clearfix;
    text-align: center;
    background: $color-o;
    height: 93px;
    line-height: 93px;
    ul {
        display: table;
        margin-left: 6rem;
        font-size: 1.8rem;
        li {
            float: left;
            color: $color-a;
        }
        a {
            color: $color-a;
            text-align: center;
            
        }
    }
}