/*======================================
        Helper
======================================*/
.is_pc {
    display: inherit;
}
.is_sp {
    display: none;
}
.is_hidden {
    display: none;
}
.bold {
    font-weight: bold;
}
.tar {
    text-align: right;
}
.tal {
    text-align: left;
}
.tac {
    text-align: center;
}
.float_left {
    float: left;
}
.float_right {
    float: right!important;
}
.brd_none {
    border: 0!important;
}
.font_M {
    font-family: $font-micho!important;
}
.mT-90 {
    margin-top: -9rem;
}
.mL-50 {
    margin-left: -5rem;
}
.mL75 {
    margin-left: 7.5rem;
}
.mB45 {
    margin-bottom: 4.5rem;
}
.minH156 {
    min-height: 15.6rem;
}
.red {
    color: #6B0000;
}
.red2 {
    color: #CB1C24;
}
.red3 {
    color: #9F272D;
}
.white {
    color: #fff;
}
.bg-white {
    background: #fff;
}
.w469 {
    width: 46.9rem;
}